include README.rst
include CHANGELOG.rst
include LICENSE
recursive-include starlink *.rst
prune .agents
prune benchmarks
prune doc
prune helperscripts
prune scripts
prune tests
prune .venv
global-exclude *.py[cod]
global-exclude __pycache__
